//* ============================================= */
//*              Color Variables                  */
//* ============================================= */

$primary-color: #777; 
$secondary-color: #58e1c1;
$tertiary-color: #51ddfc;
$quaternary-color: #fff;
$quinary-color: #fd7856;



//* ============================================= */
//*                Media Queries                  */
//* ============================================= */

$bk-med: '(min-width: 768px)';